/* line 5, ../../sass/demo/mirrored.scss */
#main #container #resizable-view {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dee0e0;
  background-color: #f5f4f4;
}
