@import "variables";
@import "compass";

.neo-overlay-sheet {
  position: absolute;
  background-color: #009dff !important;
  opacity: 0.75 !important;
  background-position: initial initial;
  background-repeat: initial initial;

  &.skylight {
    background-color: #d1f5ff !important;
  }

  &.rounded {
      .prompt {
        background-color: #000;
        font-size: 1.5em !important;
        color: #fff;
        padding: 20px;
        @include border-radius(15px);
      }
  }

  .prompt {
    font-size: 2em;
    color: #222;
  }
}